* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 1.4em;
  background: #fff;
  color: #000;
  padding: 30px;
}

a {
  color: #000;
}

.main-header {
  padding: 0px 10px 30px;
}

.main-header h3 {
  margin: 0;
  padding: 0px 0px 30px;
}

nav ul {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  float: right;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.search-controls {
  display: none;
}

.images-container {
  column-count: 4;
  column-gap: 8px;
}

.iw {
  width: 100%;
}

.images-container img {
  width: 100%;
}

.modal-back {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #000; /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
/* position: relative; */
/* margin: auto; */
  display: flex;
/* align-items: center; */
/* justify-content: center; */
/* overflow-x: auto; */
  outline: none;
}

.modal-content img {
/* position: relative; */
  margin: auto;
  background: url("../checker-square.png");
}

.modal-zoomed {
  header {
    color: rgba(0,0,0,0)
  }

  .modal-content {
    padding: 0px;
    width: 100vw;
    height: 100vh;
  }

  header:hover {
    color: #bbb;
  }
}

.modal-unzoomed {
  header {
    color: #bbb;
  }

  .modal-content {
    padding: 50px;
    width: 100vw;
    height: 100vh;
  }

  .modal-content img {
    max-width: 100%;
    max-height: 100%;
  }
}

.modal-container header {
  z-index: 2; /* Sit on top */
  position: fixed;
  width: 100%;
  height: 2em;
  padding: 1em;
  font-size: 12px;
  line-height: 14px;
}

.modal-container header a {
  color: inherit;
  text-decoration: none;
}

.viewer-metadata {
  width: 500px;
  margin-left: 75px;

  .tag::before {
    content: "#";
  }
}

.modal-controls {
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 2em;
  font-weight: bold;

  span {
    float: right
    padding-left: 10px;
  }

  span:hover, span:focus {
    cursor: pointer;
    color: #fff;
  }
}
