fg = #000
fg-faded = #ddd
modal-fg = #bbb
modal-fg-bright = #fff
bg = #fff

nightmode-fg = #fff
nightmode-fg-faded = #333
nightmode-modal-fg = #bbb
nightmode-modal-fg-bright = #fff
nightmode-bg = #1c1c21

colw = 200px
header-padding = 0 40px 30px
image-gap = 4px
body-padding = image-gap 0 0 0

@require 'src/css/toolbar.styl'
@require 'src/css/modal.styl'

// Fonts

@font-face {
    font-family: 'inconsolata_packaged';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolata_packaged';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  box-sizing: border-box;
  // Disabling dragging, add on a case by case basis
  // -webkit-app-region: no-drag;
}

/* 
 * Frameless Electron windows aren’t draggable. Here we make everything
 * undraggable, and then explicitly allow dragging on the body. This results in
 * only the top bar (where the traffic light buttons are) being used as a drag
 * handle for the entire window */
 */

body {
  -webkit-app-region: drag;
  font-family: 'inconsolata_packaged', Inconsolata, monospace;
  font-size: 14px;
  line-height: 1.4em;
  padding: body-padding;
  margin: 0;
  text-rendering: geometricPrecision;
}

/* Light/Dark mode handled by a class ontop of body, define all colors here */
body {
  background: bg;
  color: fg;

  a {
    color: fg;
  }

  input {
    background: bg;
    color: fg;
    border-bottom: 1px solid fg;
  }

  .main-header {
    background: bg;
    color: fg;

    .toolbar {
      border-top: 1px solid fg-faded;
    }
  }

  nav.enabled {
    border-top: 1px solid fg-faded;
  }

  .modal-zoomed {
    header {
      color: rgba(0,0,0,0)
    }
    header:hover {
      color: modal-fg;
    }
  }

  .modal-unzoomed {
    header {
      color: modal-fg;
    }
  }

  .modal-controls {
    span:hover, span:focus {
      color: modal-fg-bright;
    }
  }
}

body.nightmode {
  background: nightmode-bg;
  color: nightmode-fg;

  a {
    color: nightmode-fg;
  }

  input {
    background: nightmode-bg;
    color: nightmode-fg;
    border-bottom: 1px solid nightmode-fg;
  }

  .main-header {
    background: nightmode-bg;
    color: nightmode-fg;

    .toolbar {
      border-top: 1px solid nightmode-fg-faded;
    }
  }

  nav.enabled {
    border-top: 1px solid nightmode-fg-faded;
  }

  .search::placeholder {
  }

  .modal-zoomed {
    header {
      color: rgba(0,0,0,0)
    }
    header:hover {
      color: nightmode-modal-fg;
    }
  }

  .modal-unzoomed {
    header {
      color: nightmode-modal-fg;
    }
  }

  .modal-controls {
    span:hover, span:focus {
      color: nightmode-modal-fg-bright;
    }
  }
}

.images-container {
  margin-right: image-gap; // balance edge padding
  display: flex;
  flex-direction: row;
}

.image-column {
  flex-basis: colw;
  flex-grow: 1;
  padding-left: image-gap;
}

.iw {
  width: 100%;
  margin-bottom: image-gap;
}

.selected {
  border: 10px solid #0F0;
}

.images-container img {
  width: 100%;
  display: block; // remove padding below image
}
