toolbar-height = 35px
toolbar-padding = 20px
nav-height = 148px
nav-height-collapsed = 0px

popup-transition = 0.2s ease-out

.main-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--bg);
  color: var(--fg);
  z-index: 1;

  h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
  }

  .toolbar {
    height: toolbar-height;
    width: 100%;
    display: flex;

    h3 {
      line-height: toolbar-height;
      float: left;
    }

    .left {
      height: toolbar-height;
      padding-left: toolbar-padding;
      flex: 0 1 75%;
    }

    .right {
      height: toolbar-height;
      padding-right: toolbar-padding;
      line-height: toolbar-height;
      flex: 1 0 25%;
      display: flex;
      justify-content: flex-end;
    }

    .center {
      margin: 0 auto;
      position: absolute;
      right: 50%;
      transform: translate(50%, 0);
      padding: 0px 20px;
      line-height: toolbar-height;

      a {
        height: toolbar-height;
        display: inline-block;
        text-decoration: none;
        padding: 0px 10px;
      }
    }
  }

  nav {
    overflow: hidden;
    transition: height 0.15s ease-out;
    border-top: 0px; // clear to stop double border fuzziness when collapsed
    padding: 0px 20px 0px;

    .title {
      height: 20px;
      margin: 8px 0px;
    }

    .close {
      float: right;
    }

    h3 {
      float: left;
    }

    input {
      float: left;
      margin-left: 20px;
    }
  }
}

.toolbar .center a:hover {
  color: var(--fg-faded);
}

.toolbar {
  border-top: 1px solid var(--fg-faded);
}

nav.disabled {
  height: nav-height-collapsed;
}

nav.enabled {
  height: nav-height;
  border-top: 1px solid var(--fg-faded);
}

nav ul {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}

.search {
  display: inline-block;
  margin: 8px;
  height: line-height;
}

.edit {
  margin-left: 20px;

  a {
    margin-right: 20px;
  }
}

.more {
  display: inline-block;
  height: toolbar-height;
  line-height: toolbar-height;
  padding: 0px 20px;

  // overlap 1px border on toolbar
  // windows seems very sensitive to loosing hover when mouse passes over border
  margin-top: -1px;
}

.popup-container {
  width: 130px;
  transition:
    opacity popup-transition,
    height popup-transition;
  position: absolute;
  bottom: 0;
  margin-bottom: toolbar-height;
  margin-left: -50px;
  padding-bottom: 15px;
}
.popup-container.enabled {
  opacity: 1;

  .popup {
    top: 0px;
  }
}
.popup-container.disabled {
  opacity: 0;
  pointer-events: none;

  .popup {
    top: 10px;
  }
}

.popup {
  position: relative;
  transition: top popup-transition;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
  margin: 15px 15px 0px;
}

/* .popup before and after constructs a triangle arrow beneath the popup, with a box shadow
 * :after contains a 6px box that is rotated 45 degs, and placed beneath the window with a shadow
 *   because this renders under the popup box itself, it is occulded by .popup's shadow
 * :before renders a triangle with a border, but above both, so that it appears as one contiguous
 *   shape
 */
.popup:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 6px;
  width: 6px;
  margin-left: -3px;
  margin-bottom: -3px;
  z-index: -1;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
  transform: rotate(45deg);
}
.popup:before{
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-width: 6px;
  margin-left: -6px;
}

.menu-item {
  border-top: 1px solid fg-faded;
  text-align: center;
  line-height: 26px;
}

.menu-item:hover {
  cursor: pointer;
}


