fg = #000
fg-faded = #ddd
modal-fg = #bbb
modal-fg-bright = #fff
bg = #fff

nightmode-fg = #fff
nightmode-fg-faded = #333
nightmode-modal-fg = #bbb
nightmode-modal-fg-bright = #fff
nightmode-bg = #1c1c21

colw = 200px
header-padding = 0 40px 30px
image-gap = 4px
body-padding = image-gap 0 0 0

toolbar-height = 35px
toolbar-padding = 20px
nav-height = 148px
nav-height-collapsed = 0px

// Fonts

@font-face {
    font-family: 'inconsolata_packaged';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolata_packaged';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  box-sizing: border-box;
  // Disabling dragging, add on a case by case basis
  // -webkit-app-region: no-drag;
}

/* 
 * Frameless Electron windows aren’t draggable. Here we make everything
 * undraggable, and then explicitly allow dragging on the body. This results in
 * only the top bar (where the traffic light buttons are) being used as a drag
 * handle for the entire window */
 */

body {
  -webkit-app-region: drag;
  font-family: 'inconsolata_packaged', Inconsolata, monospace;
  font-size: 14px;
  line-height: 1.4em;
  padding: body-padding;
  margin: 0;
  text-rendering: geometricPrecision;
}

/* Light/Dark mode handled by a class ontop of body, define all colors here */
body {
  background: bg;
  color: fg;

  a {
    color: fg;
  }

  input {
    background: bg;
    color: fg;
    border-bottom: 1px solid fg;
  }

  .main-header {
    background: bg;
    color: fg;

    .toolbar {
      border-top: 1px solid fg-faded;
    }
  }

  nav.enabled {
    border-top: 1px solid fg-faded;
  }

  .modal-zoomed {
    header {
      color: rgba(0,0,0,0)
    }
    header:hover {
      color: modal-fg;
    }
  }

  .modal-unzoomed {
    header {
      color: modal-fg;
    }
  }

  .modal-controls {
    span:hover, span:focus {
      color: modal-fg-bright;
    }
  }
}

body.nightmode {
  background: nightmode-bg;
  color: nightmode-fg;

  a {
    color: nightmode-fg;
  }

  input {
    background: nightmode-bg;
    color: nightmode-fg;
    border-bottom: 1px solid nightmode-fg;
  }

  .main-header {
    background: nightmode-bg;
    color: nightmode-fg;

    .toolbar {
      border-top: 1px solid nightmode-fg-faded;
    }
  }

  nav.enabled {
    border-top: 1px solid nightmode-fg-faded;
  }

  .search::placeholder {
  }

  .modal-zoomed {
    header {
      color: rgba(0,0,0,0)
    }
    header:hover {
      color: nightmode-modal-fg;
    }
  }

  .modal-unzoomed {
    header {
      color: nightmode-modal-fg;
    }
  }

  .modal-controls {
    span:hover, span:focus {
      color: nightmode-modal-fg-bright;
    }
  }
}

.main-header {
  width: 100%;
  position: fixed;
  bottom: 0;

  h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
  }

  .toolbar {
    -webkit-app-region: drag;
    height: toolbar-height;
    width: 100%;

    h3 {
      line-height: toolbar-height;
      float: left;
    }

    .left {
      float: left;
      width: 50%;
      height: toolbar-height;
      padding-left: toolbar-padding;
    }


    .right {
      float: right;
      width: 50%;
      height: toolbar-height;
      padding-right: toolbar-padding;
    }

    .center {
      margin: 0 auto;
      position: absolute;
      right: 50%;
      line-height: toolbar-height;
    }
  }

  nav {
    overflow: hidden;
    transition: height 0.15s, transform 0.15s;
    border-top: 0px; // clear to stop double border fuzziness when collapsed
    padding: 0px 20px 0px;

    .title {
      height: 20px;
      margin: 8px 0px;
    }

    .close {
      float: right;
    }

    h3 {
      float: left;
    }

    input {
      float: left;
      margin-left: 20px;
    }
  }
}

nav.disabled {
    height: nav-height-collapsed;
}

nav.enabled {
  height: nav-height;
}

nav ul {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  text-rendering: geometricPrecision;
}

.search {
  float: right;
  margin-top: 8px;
}

.edit {
  float: right;
  margin-top: 8px;

  a {
    margin-right: 20px;
  }
}

.images-container {
  margin-right: image-gap; // balance edge padding
  display: flex;
  flex-direction: row;
}

.image-column {
  flex-basis: colw;
  flex-grow: 1;
  padding-left: image-gap;
}

.iw {
  width: 100%;
  margin-bottom: image-gap;
}

.selected {
  border: 10px solid #0F0;
}

.images-container img {
  width: 100%;
  display: block; // remove padding below image
}

.modal-back {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #000; /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
/* position: relative; */
/* margin: auto; */
  display: flex;
/* align-items: center; */
/* justify-content: center; */
/* overflow-x: auto; */
  outline: none;
}

.modal-content img {
/* position: relative; */
  margin: auto;
  background: url("../assets/checker-square.png");
}

.modal-zoomed {
  .modal-content {
    padding: 0px;
    width: 100vw;
    height: 100vh;
  }

  #unzoom {
    display: block;
  }
  #zoom {
    display: none;
  }
}

.modal-unzoomed {
  .modal-content {
    padding: 50px;
    width: 100vw;
    height: 100vh;
  }

  .modal-content img {
    max-width: 100%;
    max-height: 100%;
  }

  #unzoom {
    display: none;
  }
  #zoom {
    display: block;
  }
}

.modal-container header {
  z-index: 2; /* Sit on top */
  position: fixed;
  width: 100%;
  height: 2em;
  padding: 1em;
  font-size: 12px;
  line-height: 14px;
}

.modal-container header a {
  color: inherit;
  text-decoration: none;
}

.viewer-metadata {
  width: 500px;
  margin-left: 75px;

  .tag::before {
    content: "#";
  }
}

.modal-controls {
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 2em;
  font-weight: bold;

  span {
    float: right
    padding-left: 10px;
  }

  span:hover, span:focus {
    cursor: pointer;
  }
}

.dragndrop {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -140px;
  width: 280px; // from measuring
  text-align: center;

  img {
    width: 128px;
  }
}

.moving-modal {
  position: fixed;
  max-height: 50%;
  overflow: scroll;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 20px;
  width: 400px;

  p {
    margin: 0px;
    padding: 0px;
  }

  a {
    display: block;
    color: #000 !important;
  }
}
