fg = #000
bg = #fff
colw = 200px
body-padding = 0px
header-padding = 40px 40px 30px
images-padding = 0px
image-gap = 4px

// Fonts

@font-face {
    font-family: 'inconsolata_packaged';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolata_packaged';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'inconsolata_packaged', Inconsolata, monospace;
  font-size: 16px;
  line-height: 1.4em;
  background: bg;
  color: fg;
  padding: body-padding;
  text-rendering: geometricPrecision;
}

a {
  color: fg;
}

.main-header {
  padding: header-padding;

  h3 {
    margin: 0;
    padding: 0px 0px 30px;
  }
}

nav ul {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  float: right;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid fg;
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.search-controls {
  display: none;
}

.images-container {
  padding: images-padding;
  column-count: auto;
  column-width: colw;
  column-gap: image-gap;
}

.iw {
  width: 100%;
  margin-bottom: image-gap;
}

.images-container img {
  width: 100%;
  display: block; // remove padding below image
}

.modal-back {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #000; /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
/* position: relative; */
/* margin: auto; */
  display: flex;
/* align-items: center; */
/* justify-content: center; */
/* overflow-x: auto; */
  outline: none;
}

.modal-content img {
/* position: relative; */
  margin: auto;
  background: url("../assets/checker-square.png");
}

.modal-zoomed {
  header {
    color: rgba(0,0,0,0)
  }

  .modal-content {
    padding: 0px;
    width: 100vw;
    height: 100vh;
  }

  header:hover {
    color: #bbb;
  }
}

.modal-unzoomed {
  header {
    color: #bbb;
  }

  .modal-content {
    padding: 50px;
    width: 100vw;
    height: 100vh;
  }

  .modal-content img {
    max-width: 100%;
    max-height: 100%;
  }
}

.modal-container header {
  z-index: 2; /* Sit on top */
  position: fixed;
  width: 100%;
  height: 2em;
  padding: 1em;
  font-size: 12px;
  line-height: 14px;
}

.modal-container header a {
  color: inherit;
  text-decoration: none;
}

.viewer-metadata {
  width: 500px;
  margin-left: 75px;

  .tag::before {
    content: "#";
  }
}

.modal-controls {
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 2em;
  font-weight: bold;

  span {
    float: right
    padding-left: 10px;
  }

  span:hover, span:focus {
    cursor: pointer;
    color: #fff;
  }
}

.dragndrop {
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -140px;
  width: 280px; // from measuring
  text-align: center;

  img {
    width: 128px;
  }
}
